<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>home_all</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style type="text/css">
        #table {
            border-collapse: collapse;
        }
        #table td {
            border: 1px solid black;
            padding: 5px;
        }
        table {
            width: 100%;
        }
        table td {
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" id="li1">會員列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="li2">修改個人資料</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="li3">訂閱</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="li4">檔案總管</a>
                    </li>
                </ul>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" id = "hi">hi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">登出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <table id="table">
        <tr>
            <td>account</td>
            <td>mail</td>
            <td>gender</td>
            <td>color</td>
        </tr>
        {% for out in outs %} // 看有{}的字
        <script>
            function logMessage() {
                console.log("123");
                console.log(out);
            }
        </script>
            <tr>
                <td>{{out['acc']}}</td>
                <td>{{out['mai']}}</td>
                <td>{{out['gen']}}</td>
                <td style="background-color: {{out['col']}};"></td>
            </tr>
        
        {% endfor %}
    </table>
    
    <script>
        var url = location.href;
        var accountB = "";
        var hi = document.getElementById("hi");
        accountB = url.split('/');
        
        if (accountB[1] == "home"){
            accountB = ""
        }
        else{
            accountB = accountB[accountB.length-1]
        }
        hi.innerHTML = "hi "+accountB;
        

        var li1 = document.getElementById("li1");
        li1.href = "/home/members/"+accountB;
        var li2 = document.getElementById("li2");
        li2.href = "/home/update/"+accountB;
        var li3 = document.getElementById("li3");
        li3.href = "/home/sub/"+accountB;
        var li4 = document.getElementById("li4");
        li4.href = "/home/file/"+accountB;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>